.menu {
  position: absolute;
  top: 10px;
  right: 0;
  background-color:  #FCF0D5;
  border-radius: 15px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1002;
}

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8D2C4A;
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(141, 44, 74, 0.2);
}

.menuLogo {
  display: block;
  margin: 0 4px;
  max-width: 40px;
}

.logout-button {
  width: 100%;
  padding: 10px;
  background-color: #D82682;
  border: none;
  border-radius: 6px;
  color: #FCF0D5;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: #DE478F;
}